<div class="padding">
  <app-carousel
    [images]="images"
    [controls]="false"
    [indicators]="false"
  ></app-carousel>
  <div class="gallery">
    <div class="container">
      <img src="assets/img/row/destination.jpg" alt="DESTINATIONS" />
      <a routerLink="/details" class="btn">DESTINATIONS</a>
    </div>
    <div class="container">
      <img src="assets/img/row/youtube.jpg" alt="PHOTO GALLERY" />
      <a routerLink="/gallery" class="btn">PHOTO GALLERY</a>
    </div>
    <div class="container">
      <img src="assets/img/row/packages.jpg" alt="PACKAGES" />
      <a routerLink="/packages" class="btn">PACKAGES</a>
    </div>
  </div>
</div>
